.icon-eye:before {
	content: '\e911';
}

.icon-menu:before {
	content: '\e903';
}

.icon-eye-close:before {
	content: '\e931';
}

.icon-information:before {
	content: '\e90f';
}

.icon-upload:before {
	content: '\e900';
}

.icon-close:before {
	content: '\e90c';
}

.icon-shield:before {
	content: '\e90e';
}

.icon-arrow-right:before {
	content: '\e904';
}

.icon-arrow-left:before {
	content: '\e906';
}

.icon-arrow:before {
	content: '\e905';
}

.icon-validation-info:before {
	content: '\e907';
}

.icon-confirm-info:before {
	content: '\e902';
}

.icon-confirm:before {
	content: '\e924';
}

.icon-warning-info:before {
	content: '\e90a';
}

.icon-natural-person:before {
	content: '\e91c';
}

.icon-error500:before {
	content: '\e932';
}

.icon-welcome::before {
	content: '\e933';
}

.icon-email-send::before {
	content: '\e908';
}

.icon-email::before {
	content: '\e93d';
}

.icon-pass-check::before {
	content: '\e91f';
}

.icon-more::before {
	content: '\e910';
}

.icon-edit::before {
	content: '\e926';
}

.icon-remove::before {
	content: '\e90d';
}

.icon-person-mail::before {
	content: '\e934';
}

.icon-document::before {
	content: '\e912';
}

.icon-download::before {
	content: '\e935';
}

.icon-download-file::before {
	content: '\e937';
}

.icon-filter::before {
	content: '\e938';
}

.icon-legal::before {
	content: '\e913';
}

.icon-person::before {
	content: '\e91a';
}

.icon-notification::before {
	content: '\e919';
}

.icon-home::before {
	content: '\e91e';
}

.icon-money::before {
	content: '\e930';
}

.icon-card::before {
	content: '\e91b';
}

.icon-statistics::before {
	content: '\e92b';
}

.icon-settings::before {
	content: '\e923';
}

.icon-contact::before {
	content: '\e927';
}

.icon-exit::before {
	content: '\e92c';
}

.icon-issued::before {
	content: '\e936';
}

.icon-transfer::before {
	content: '\e91d';
}

.icon-down::before {
	content: '\e92a';
}

.icon-up::before {
	content: '\e92d';
}

.icon-solid-down::before {
	content: '\e922';
}

.icon-solid-up::before {
	content: '\e918';
}

.icon-pdf::before {
	content: '\e939';
}

.icon-excel::before {
	content: '\e93b';
}

.icon-key::before {
	content: '\e93a';
}

.icon-calendar::before {
	content: '\e90b';
}

.icon-phone::before {
	content: '\e93c';
}

.icon-padlock::before {
	content: '\e93e';
}

.icon-save::before {
	content: '\e93f';
}
