/*------------------------------------*\
    $SETTINGS
\*------------------------------------*/
/**
	* Define all variables and values to use in the structure.
	*/

/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
	* Brand colors
	*/
/*$color-primary: #0a60f9;*/
$color-primary: #464fce;
$color-secondary: #ebef28;

/**
	* Grey Scale
	* This is mainly to hold back designers from adding 200 different greys ;)
	*/

$black: #000000;
$white: #ffffff;
$grey: (
	'strong': #615d61,
	'semiStrong': #8a858b,
	'regular': #a19da2,
	'semiRegular': #b9b6b9,
	'light': #d0ced1,
	'semiLight': #f3f3f3,
);

/**
	* Definimos Colores y elementos de popups, mensajes de alerta, etc...
	*/
$textcolor: #615d61;
$color-success: #46dca6;
$color-error: #f24560;
$color-info: #0084f4;
$color-alert: #ffcf5c;
$color-warning: #ffa26b;

/**
	* Z-INDEX
	* used function `z-index($layer)`
	*/
$z-layers: (
	'modal': 9000,
	'over': 900,
	'default': 1,
	'below': -1,
	'bottomless': -9000,
);

/**
	* Base Font Style
	*/
$font-size-base: .938rem;
$line-height-base: 1.5;

$regular-font-weight: normal;
$medium-font-weight: 500;
$semibold-font-weight: 600;
$bold-font-weight: 700;

$font-family-base: 'Montserrat', sans-serif;
$font-family-novoglyphs: 'novoglyphs';

/**
	* Margin - Padding
	*/
$space-0: 0;
$space-1: 0.5rem;//8px
$space-2: 1rem;//16px
$space-3: 1.5rem;//24px
$space-4: 2rem;//32px
$space-5: 2.5rem;//40px
$space-6: 3rem;//48px

/**
	* Border
	*/
$border-radius: 4px;
$btn-border-radius: (
	'radius-3': 2,
	'radius-2': 4,
	'radius-1': 6,
	'radius': 8,
);

/**
	* Bottons, Inputs & Labels - Scale Color
	*/
$plt-primary: $color-primary;
$plt-hover: #3b80fa;
$plt-focus: #27beff;
$plt-active: #3b80fa;

/**
	* Layout
	*/
$width-1: 24rem;
$width-2: 32rem;
$width-3: 48rem;
$width-4: 62rem;
$width-5: 64rem;
$width-6: 75rem;

/**
	* Grid
	*/
$grid-size: 12;

/**
	* Font Size
	* used function `fontSize($font-size)`
	*/
$size-vars: (
	'xl-small': .938,//15px
	'x-small': 1.125,//18px
	'small': 1.25,//20px
	'normal': 1.5,//24px
	'big': 1.75,//28px
	'huge': 3,//48px
);

/**
	* Breakpoints Responsive
	* Used with mixin `respond-to($breakpoint)`
	*/
$breakpoints: (
	'mobile': 320px,
	'tablet': 767px,
	'desktop': 1200px,
) !default;
