/*------------------------------------*\
    $LOGIN VIEW
\*------------------------------------*/
.login-content {
	min-height: calc(100vh - 2.75rem);
	position: relative;
}

.login-info {
	background-color: $color-primary;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;

	& div {
		padding-bottom: $space-5 * 3;
		width: 583px;

		& h1 {
			color: $color-secondary;
			font-family: $font-family-base;
			letter-spacing: 0.96px;
			line-height: initial;
		}
	}
}

.brand-img {
	height: 80px;
}

@include respond-to-max(desktop) {
	.login-info {
		display: none;
	}
}
